*{
    margin: 0;
    padding: 0;
}

.logo-container{
    display: flex;
    border-bottom: 3px solid #F5F5F5;
    padding: 10px 0 5px;
    position: relative;
}
.Khoi-slide {
    width: 100%;
    height: 700px;
    position: relative;
}
.img {width: 100%;}
.slide {
    
    top: 35px;
    left: 0px;
    opacity: 0;
    position: absolute;
    visibility: hidden;
}
.slide.active{
    opacity: 1;
    visibility:visible ;

}

.Cac-slide {
    width: 100%;
    height: 700px;
    overflow: hidden;
}

.container{
    /* display: flex; */
    position: fixed;
    /* margin-top: 180px; */
    width: 100%;
    background-color: #fff;
    top: 0;
    box-shadow: 1px 2px 3px;
    z-index: 999;
}

.delivery{
    width: 180px;
    height: 40px;
    margin-left: 100px;
    margin-top: 16px;
}

.img1{
    width: 100px;
    height: 40px;
    margin-left: 350px;
    margin-top: 12px;
}

.languages{
    width: 87px;
    height: 20px;
    margin-left: -458px;
    margin-top: 22px;
    margin-right: 237px;
}
.nut-slide span{
    color: white;
    font-size: 60px;
}

span#btn-prew{
    position: absolute;
    top: 40%;
    left: 0%;
    z-index: 10;
    cursor: pointer;
}

span#btn-next{
    position: absolute;
    top: 40%;
    right: 0%;
    z-index: 10;
    cursor: pointer;
}
.khung_menu
{
    
/* display: flex; */
    
/* margin-bottom: 5px; */
    
text-align: center;
}
li a, .menu-btn{
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}
li a:hover, .menu:hover .menu-btn{
    color: red;
    transition: 1s;
}
.menu{display: inline-block;cursor: pointer;margin: 0 10px 0 10px;margin: 10px;}
.menu-content{
    display: none;
    background-color: gray;
    min-width: 200px;
    z-index: 999;
    position: fixed;
}
.menu-content a{
    color: black;
    padding: 12px 20px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.menu-content a:hover {background-color: #f1f1f1;}
.menu:hover .menu-content{
    display: block;
}
.mySlides {display:none; width:100%}
.button-left{left:1%; font-size:20px}
.button-right{right:1%; font-size:20px }
.image-button{border:none;display:inline-block;padding:10px;height:50px;vertical-align:middle;overflow:hidden; color:#fff;background:#000;position:absolute;top:calc(50% - 25px); opacity:0.5;}
.image-button:hover{color:#000;background-color:#ccc;}
.display-container{margin-top: 150px;position:relative}
img.tra1 {}

img.tra1 {
    max-width: 570px;
    border: 142px solid #fff;
    bottom: 0;
}
.tuade {
    font-size: 26px;
    text-align: center;
    width: 150%;
    height: 30px;
    line-height: normal;
    margin: -625px 0 50px;
    color: #0C713D;
}

p {
    margin-left: 806px;
    font-size: 26px;
}
.containerdangnhap {
    width: 0%;
    margin: auto;
    text-align: center;
}
.fomrgroup {
    width: 50%;
    margin: auto;
    display: block;
    height: 50px;
    margin-top: 44px;
    margin-bottom: -39px;
}
.fomrgroup input{
    float: right;
     width: 70%;
    height: 25px;
    margin-right: 20px;
    line-height: 50px;
}
.fomrgroup b{
    font-size: 20px;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 13px;
    border: 1px solid #888;
    width: 24%;
    height: 285px;
    border-radius: 21px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 19px;
    margin-top: -58px;
    background-color: green;
    border-radius: 70px;
    height: 22px;
    width: 24px;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

button#myBtn {
    margin-left: -600px;
}

form {
    margin-top: 55px;
}

.container {
    margin-left: 2px;
}

button#myBtn {margin-left: -139px;margin-top: 6px;width: 91px;}

